.single-product-details {


    .carousel-indicators,
    .carousel-indicators [data-bs-target] {
        all: unset;
    }

    .carousel-indicators [data-bs-target] {
    @media screen and (min-width: 992px) {
        margin: 10px 0 !important;
    }
        display: block;

        &:first-child {
            margin-top: 0 !important;
        }
    }



    .product-details {
        color: #333;

        @media screen and (min-width: 992px) {
            padding-left: 50px;
        }
    }

    .product-details h1 {
        color: white;
    }



    .price {
        font-size: 20px;
        color: white;
        margin: 10px 0;
    }

    .installments {
        color: #e2e2e2;
        margin-bottom: 10px;

        svg {
            color: #777;
            width: 70px;
        }
    }

    .installments a {
        color: #E94B35;
        text-decoration: none;
    }

    .description {
        margin: 10px 0;
        color: white;
    }

    .reviews {
        margin-bottom: 10px;
    }

    .reviews span {
        color: #FFC107;
        margin-right: 10px;
    }

    .reviews a {
        color: #ffffff;
    }

    .stock-status {
        color: #5CA16F;
        margin-bottom: 20px;
    }



    label {
        color: white;
        display: block;
        font-weight: bold;
        margin: 20px 0 10px;
    }

    .color-buttons {
        display: flex;
        gap: 10px;
    }

    .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ccc;
        cursor: pointer;
    }

    .color.white {
        background-color: #FFF;
    }

    .color.blue {
        background-color: #2196F3;
    }

    .color.orange {
        background-color: #FF9800;
    }

    .color.pink {
        background-color: #E91E63;
    }

    .color.purple {
        background-color: #9C27B0;
    }

    select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .cartquantity {
        width: 135px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: white;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;

        button {
            border: 0;
            background: white;
            height: max-content;
        }
    }

    #quantity {
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .buttons {
        display: flex;
        gap: 10px;
        font-weight: bold;
        margin-top: 30px;
    }

    .add-to-cart,
    .buy-now {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: #FFF;
    }

    .add-to-cart {
        background-color: #E94B35;
    }

    .buy-now {
        background-color: #1A73E8;
    }

    .more-payment {
        margin-top: 20px;
    }

    .more-payment a {
        color: #ffffff;
    }
}

.capsule {
    width: 135px;
    height: 40px;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5B5A5A;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.lightTheme {

    .price,
    .more-payment a,
    #quantity,
    h1,
    .description,
    label {
        color: black !important;
    }

    .installments {
        color: #959595;
    }

    .capsule,
    .cartquantity {
        color: #333;
        border: thin solid #333;
    }

}