@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Trade Gothic", sans-serif;
  src: local("Trade Gothic"), url(tradegothic_n4.87425881f271d9e0f8b5f614cd8de558c7dea553.woff2) format("truetype");
}
:root {
  --text-font-family: "Trade Gothic", sans-serif;
  --text-font-family-2: "Raleway", sans-serif;
  --text-font-family-3: "poppins", sans-serif;
  --color-green: #64C194;
}

body {
  font-family: "poppins", sans-serif;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.container {
  max-width: 1600px !important;
}

.play-fair {
  font-family: var(--text-font-family-2);
}

.w-50 {
  max-width: 50%;
}

.btn {
  border-radius: 50px !important;
  font-family: var(--text-font-family) !important;
  text-align: center;
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-success {
  background-color: var(--color-green);
  color: white;
}
.btn-lg {
  width: 200px;
}

@font-face {
  font-family: "Chong Modern", serif;
  src: local("Chong Modern"), url(chongmodern.woff2) format("truetype");
}
@media (min-width: 1200px) {
  .display-7 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
p {
  font-family: var(--text-font-family);
  letter-spacing: 0.5px;
  line-height: 30px;
}

h1 {
  font-family: var(--text-font-family-2);
}

.display-1 {
  font-family: var(--text-font-family-2);
}

h2 {
  font-family: var(--text-font-family-2);
}

.display-2 {
  font-family: var(--text-font-family-2);
}

h3 {
  font-family: var(--text-font-family-2);
}

.display-3 {
  font-family: var(--text-font-family-2);
}

h4 {
  font-family: var(--text-font-family-2);
}

.display-4 {
  font-family: var(--text-font-family-2);
}

h5 {
  font-family: var(--text-font-family-2);
}

.display-5 {
  font-family: var(--text-font-family-2);
}

h6 {
  font-family: var(--text-font-family-2);
}

.display-6 {
  font-family: var(--text-font-family-2);
}

h7 {
  font-family: var(--text-font-family-2);
}

.display-7 {
  font-family: var(--text-font-family-2);
}

.top-navbar {
  height: auto;
  background-color: var(--color-green);
  padding: 10px 0;
}
.top-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.top-navbar .container img {
  width: 50%;
}

.navbar-nav .nav-link {
  color: #000;
  font-family: var(--text-font-family-3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
.navbar-nav .nav-item img {
  width: 53px;
  height: 53px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar-nav .nav-item svg {
  width: 36px;
  height: 36px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--color-green) !important;
  border-bottom: 2px solid var(--color-green) !important;
}

.cartcount {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: -10px;
  right: -11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
    max-width: 30%;
  }
}
.navbar-brand img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .navbar-brand {
    max-width: 250px;
  }
}

.bannerCarousel img {
  filter: brightness(0.9);
}

.latest-collection img {
  height: 1039px;
  width: 100%;
  filter: brightness(0.5);
  transition: all 0.5s ease-in-out;
}
.latest-collection img:hover {
  filter: brightness(0.9);
}

.new-launch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: var(--text-font-family-3);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hoverme {
  flex: 1;
}

.hoverme:hover .new-launch {
  opacity: 1;
}

.main-image {
  width: 40%;
  padding: 1%;
}
.main-image img {
  height: 800px;
  width: 100%;
}
.side-images {
  width: 60%;
  padding: 1% 0;
}
.side-images .img-1 {
  height: 270px;
  width: 100%;
}

.stackimages {
  height: 530px;
}
.stackimages img {
  width: 100%;
  height: 100%;
}
.stackimages .stackimages-22 {
  padding: 2% 1% 0 0;
}
.stackimages .stackimages-3 {
  padding: 4% 0 0 1%;
}

.nav-tabs {
  justify-content: center;
  border: 0 !important;
  max-width: 50%;
  margin: auto;
  letter-spacing: 1px;
}
.nav-tabs .nav-link {
  border: 0 !important;
  text-transform: uppercase;
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 2px;
  color: black;
  height: 38px;
  border-bottom: 1px solid rgb(147, 147, 147) !important;
}
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 2px solid black !important;
  opacity: 1;
  color: black;
}
.nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: 2px solid black !important;
  opacity: 1;
  color: black;
}

.tab-content {
  margin-top: 80px;
}

.form-popup {
  background-image: url(https://cocosmilecups.com/cdn/shop/files/ba8c425e-256d-4ee7-949d-94c955d43b78_1591x.jpg?v=1716123187);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.form-popup .background-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.form-popup .popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.form-popup .popup h2 {
  font-size: 18px;
  color: #333;
}
.form-popup .popup p {
  font-size: 14px;
  color: #666;
}
.form-popup form input[type=email] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-popup form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-popup form button:hover {
  background-color: #45a049;
}

.features-container {
  padding: 40px 0;
  flex-wrap: wrap;
  background-color: #f8fbff;
}
.features-container .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.features-container .feature {
  padding: 30px;
  margin: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  min-height: 264px;
}
.features-container .feature:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.features-container .icon {
  width: 23px;
  height: 23px;
  margin-bottom: 15px;
}
.features-container h3 {
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.features-container p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

section.review-slider {
  background: rgba(176, 209, 254, 0.13);
  padding: 100px 0;
}

section.review-slider .container .card {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section.review-slider .container .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}
section.review-slider .container .card h2 {
  margin-bottom: 0;
}
section.review-slider .container .card h4 {
  color: gray;
  font-size: 12.35px;
}
section.review-slider .container .card .stars {
  color: #f39c12;
}
section.review-slider .container .card p {
  line-height: 1.5em;
  margin: 26px 0;
  color: #333;
  font-size: 14px;
}
section.review-slider .container .card .quote {
  font-size: 2em;
  color: #3498db;
}
section.review-slider .container .card .read-more {
  color: #333333;
  text-decoration: none;
  font-size: 0.9em;
  display: block;
  text-align: right;
}

.footer {
  background-color: #6fcf97;
  color: white;
  padding: 40px 20px;
  margin-top: auto;
}
.footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .footer-section {
  flex: 1;
  min-width: 220px;
  margin: 20px;
}
.footer .footer-logo {
  max-width: 200px;
  margin-bottom: 20px;
  background: white;
  padding: 14px;
  border-radius: 9px;
}
.footer .footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
.footer .footer-section p {
  margin-bottom: 20px;
  line-height: 1.6;
}
.footer .footer-section ul {
  list-style: none;
}
.footer .footer-section ul li {
  margin-bottom: 10px;
}
.footer .footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.footer .footer-section ul li a:hover {
  text-decoration: underline;
}
.footer .social-icons a {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer .social-icons img {
  width: 24px;
  height: 24px;
}
.footer .newsletter-form {
  display: flex;
  align-items: center;
}
.footer .newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}
.footer .newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #57b87a;
  color: white;
  cursor: pointer;
}
.footer .newsletter-form button:hover {
  background-color: #459960;
}
.footer .currency-button {
  background-color: #57b87a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer .currency-button span {
  margin-left: 5px;
}
.footer .payment-icons {
  text-align: center;
  margin-top: 20px;
}
.footer .payment-icons p {
  margin-bottom: 10px;
}
.footer .payment-icons img {
  max-width: 100%;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 7px 0;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}
.search-container .button {
  display: inline-block;
  margin: 4px 2px;
  color: #7a7c7f;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.search-container .button:hover {
  transition-duration: 0.4s;
}
.search-container .mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.search-container .searchbutton {
  position: absolute;
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search-container .search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search-container .search {
  position: absolute;
  left: 49px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.search-container .search:focus {
  width: 363px;
  /* Bar width+1px */
  padding: 0 16px 0 0;
}
.search-container .expandright {
  left: auto;
  right: 49px;
  /* Button width-1px */
}
.search-container .expandright:focus {
  padding: 0 0 0 16px;
  border: 1px solid black;
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.slick-slide {
  padding: 10px;
}

input.checkbox {
  margin-right: 10px;
}/*# sourceMappingURL=styles.css.map */